html {
    padding:0;
    margin: 0;
}
nav {
    background-color: #28b4b3;
}
.side-nav {
    width: 200px;
}
/*index jumbotrons*/
#login-jumbo{
    margin: auto;
}
#jumbo-top-margin {
    margin-top: 40px;
}
#jumbo-edit-add-margin {
    margin-top: 0px;
    margin-top: 0px;
}
.jumbotron {
    padding: 0;
}
th {
    font-size: 25px;
}
#table_border {
    border-top-style: solid;
    border-bottom-style: solid;
}
#cook-timer {
    color: red;
}
#prep-timer {
    color: green;
}
/*recipe card tex align*/
.card-title {
    text-decoration: underline#008887;
    
}
.table td, .table th {
    vertical-align: 0;
}
#add_recipe_title {
    text-align: center;
}
.page-footer {
    background-color: #28b4b3;
}
#add_button {
   float: right;
}
#add_recipe_main {
    margin-bottom: 80px;
}

.modal {
    
    padding: 0;
    max-height: 80vh;
}
/*.img-fluid {
    height: fit-content;
    margin: 0;
    padding: 0;
}*/
.row {
    margin-bottom: 0;
}
i.small {
    vertical-align: text-bottom;
}
#cover {
  background: #c6ffff;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

/*recipe profile style*/
#recipe_img {
      max-width: 100%;
      height:  570px;
      width: 860px;
      margin-top: 40px;
}
#idrecipe_align {
    height: 570px;
}
#responsive-recipe-image {
    max-width: 100%;
    height: auto;
}
.recipe-details-container {
    margin: 1.875rem 0;
}
.recipe-details-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(6.25rem,1fr));
    grid-gap: .25rem;
}
.recipe-details-container {
    border: .0625rem solid #000;
    border-top: .625rem solid #008887;
    padding: 0 .625rem;
}
.recipe-details-container .recipe-details-item:first-child {
    padding-top: 1.875rem;
}
@media only screen and (min-width: 40.625rem)
.recipe-details-container .recipe-details-item {
    padding-top: 1.875rem;
    border-right: .0625rem solid #000;
    text-align: center;
}
#recipe_description {
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 1.70rem;
}
#recipe_title {
text-decoration: underline;
}
.recipe-details-container .recipe-details-item {
    font-weight: 400;
    padding: 0 .625rem 1.875rem;
}
@media only screen and (min-width: 40.625rem)
.recipe-details-container .recipe-details-item:last-child {
    border-right: 0;
}
.yields-unit, .recipe-time-unit {
    font-family: Helvetica,Arial,Sans-serif;
    font-size: .8125rem;
    line-height: 1.2;
    color: #000;
    font-weight: 400;
    vertical-align: baseline;
}
.yields-unit {
    vertical-align: middle;
}
.cal-per-serv-amount, .yields-amount, .prep-time-amount, .cook-time-amount, .total-time-amount {
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 1.625rem;
    line-height: 1.2;
    color: #008887;
    padding-top: .625rem;
}
@media only screen and (min-width: 40.625rem)
.cal-per-serv-amount, .yields-amount, .prep-time-amount, .cook-time-amount, .total-time-amount {
    display: block;
}
.recipe-details-container .recipe-details-item {
    padding-top: 1.875rem;
    border-right: .0625rem solid #000;
    text-align: center;
}
.recipe-details-container .recipe-details-item:last-child {
    border-right: 0;
}
.recipe-details-container .recipe-details-item:first-child {
    padding-top: 1.875rem;
}
@media only screen and (max-device-width: 361px) {
  .card text-center {
    width: 21rem;
    margin: 0;
    }

/*------------------------------------------------------footer section */
footer {
    width: 100vw;
    font-weight: 300;
    margin: 0;
    height: 30px;
    background-color: #28b4b3;
    height: 100px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
#dejanhinicgit {
    color: white;
}
#footer_text {
    padding-top: 20px;
}