html {
    margin: 0;
    padding: 0;
}
/* nav bar */
nav {
    background-color: lightseagreen;
}
.side-nav {
    width: 200px;
}
nav .brand-logo {
    display: contents;
    font-size: 1.9rem;
}
/*index jumbotrons*/
#login-jumbo{
    margin: auto;
}
#jumbo-top-margin {
    margin-top: 40px;
}
#jumbo-edit-add-margin {
    margin-top: 0;
}
.jumbotron {
    padding: 0;
}
/* table style */
th {
    font-size: 25px;
}
.table td, .table th {
    vertical-align: 0;
}
#table_border {
    border-top-style: solid;
    border-bottom-style: solid;
}
#cook-timer {
    color: red;
}
#prep-timer {
    color: green;
}
/*recipe card tex align*/
.card-title {
    text-decoration: underline#008887;
}
/* recipe search style */
#go_search {
    float: right;
}
#info-form {
    background-color: #c6ffff;
}
#add_recipe_title {
    text-align: center;
}
#add_button {
   float: right;
}
#add_recipe_main {
    margin-bottom: 80px;
}
.row {
    margin-bottom: 0;
}
.small {
    vertical-align: text-bottom;
}
#cover-caption {
  width: 100%;
}
/*recipe profile style*/
#recipe_img {
      max-width: 100%;
      height:  570px;
      width: 860px;
      margin-top: 40px;
}
#idrecipe_align {
    height: 570px;
}
#responsive-recipe-image {
    max-width: 100%;
    height: auto;
}
.recipe-details-container {
    margin: 1.875rem 0;
}
/* recipe info grid for item details */
.recipe-details-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(6.25rem,1fr));
    grid-gap: .25rem;
}
.recipe-details-container {
    border: .0625rem solid #000;
    border-top: .625rem solid #008887;
    padding: 0 .625rem;
}
.recipe-details-container .recipe-details-item:first-child {
    padding-top: 1.875rem;
}
#recipe_description {
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 1.70rem;
}
#recipe_title {
text-decoration: underline;
}
.recipe-details-container .recipe-details-item {
    font-weight: 400;
    padding: 0 .625rem 1.875rem;
}
.yields-unit, .recipe-time-unit {
    font-family: Helvetica,Arial,Sans-serif;
    font-size: .8125rem;
    line-height: 1.2;
    color: #000;
    font-weight: 400;
    vertical-align: baseline;
}
.yields-unit {
    vertical-align: middle;
}
.cal-per-serv-amount, .yields-amount, .prep-time-amount, .cook-time-amount, .total-time-amount {
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 1.625rem;
    line-height: 1.2;
    color: #008887;
    padding-top: .625rem;
}
/* medium size devices style */
@media (min-width: 650px){
 .recipe-details-container .recipe-details-item:last-child
    {border-right: 0;}
}
/* index cards style to fit all devices */
@media (max-width: 420px){
#cookware, #knives, #appliances
    {width: 24rem;}
}
@media (max-width: 376px){
#cookware, #knives, #appliances
    {width: 22rem;}
}
@media (max-width: 361px){
#cookware, #knives, #appliances
    {width: 21rem;}
}
@media (max-width: 321px){
#cookware, #knives, #appliances
    {width: 18.4rem;}
} 
@media (min-width: 650px) {
.cal-per-serv-amount, .yields-amount, .prep-time-amount, .cook-time-amount, .total-time-amount
    { display: block;}
}
@media (min-width: 650px) {
.recipe-details-container .recipe-details-item {
    padding-top: 1.875rem;
    border-right: .0625rem solid #000;
    text-align: center;}
}
.recipe-details-container .recipe-details-item {
    padding-top: 1.875rem;
    border-right: .0625rem solid #000;
    text-align: center;
}
.recipe-details-container .recipe-details-item:last-child {
    border-right: 0;
}
.recipe-details-container .recipe-details-item:first-child {
    padding-top: 1.875rem;
}
/* recipe details */
@media (max-width: 450px) {
    .card text-center {width: 21rem; margin: 0;}
    #recipe_img {height: 153px; margin-top:0;}
    #recipe_description {font-size: small; padding: 0;}
    #recipe_title {font-size: large; padding: 0;}
    .recipe-details-container {width: 292px;}
    .cal-per-serv-amount, .yields-amount, .prep-time-amount, .cook-time-amount, .total-time-amount {font-size: large;}
}
@media (max-width: 321px) {
    main {margin-left: -17px;}
}
@media (min-width: 767px) {
   #recipe_img {height: 381px;}
}
@media (max-width: 321px) {
    .brand-logo {
        font-size: 1.3rem;}
}
/* footer */
#footer_logo {
    width: 100vw;
    font-weight: 300;
    background-color: lightseagreen;
    height: 100px;
    color: white;
    padding-top: 30px;
}
.page-footer {
    background-color: #28b4b3;
}