nav {
    background-color: #28b4b3;
}
th {
    font-size: 25px;
}
#table_border {
    border-top-style: solid;
    border-bottom-style: solid;
}
#add_recipe_title {
    text-align: center;
}
.page-footer {
    background-color: #28b4b3;
}
#add_button {
   float: right;
}
#add_recipe_main {
    margin-bottom: 80px;
}

.modal {
    
    padding: 0;
    max-height: 80vh;
}
/*.img-fluid {
    height: fit-content;
    margin: 0;
    padding: 0;
}*/
.row {
    margin-bottom: 0;
}
i.small {
    vertical-align: text-bottom;
}
#cover {
  background: #222 url('../img/stars.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}