<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style/css/style.css')}}" type="text/css"/>
</head>
<body>
        


    <header>
        
            <nav>
                <div class="nav-wrapper">
                        <a href="{{url_for('index')}}" class="brand-logo">Nom Nom cook book</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{url_for('index')}}">Home</a></li>
                        <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                        <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                        
                        <!-- <li><a class="waves-effect waves-light btn modal-trigger" href='login'>Log In</a></li> -->
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{url_for('index')}}">Home</a></li>
                        <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                        <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                        
                        <li><a class="waves-effect waves-light btn modal-trigger" href="#login">Log In</a></li>
                    </ul>
                </div>
            </nav>
            
    </header>
        <main style="padding-bottom: 30px; padding-top: 30px;">
            {% block content %}
            {% endblock %}
        </main>
            
    
    
            <div class="container-fluid text-center" id="footer_logo">
                <a href="https://github.com/DejanHinic" target="_blank" style="color: white; margin-top: 20px"><span id="dejanhinic">Dejan Hinic 2020</span></a>
             </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">        
            $(document).ready(function(){
                $('.collapsible').collapsible();
                $('select').material_select();
                $(".button-collapse").sideNav();  
               
                var delete_icon = '<i class="material-icons">delete</i></a></div></div>';
                var ingredient_field = `<div class="row new-ingredient"> <div class="input-field col s10 m11">
                        <input type="text" name="ingredients" class="validate" required>
                        <label>Ingredient(s)</label></div>
                        <div class="col s2 m1"><a class="btn-floating waves-effect waves-light red" id="delete_ingredient"> 
                        ${delete_icon}`;
                var step_field = `<div class="row new-step"> <div class="input-field col s10 m11">
                        <textarea name="steps" class="materialize-textarea" class="validate" required></textarea>
                        <label>Step(s)</label></div>
                        <div class="col s2 m1"><a class="btn-floating btn-small waves-effect waves-light red" id="delete_step"> 
                        ${delete_icon}`;
                
                


                // add and remove ingredient
                $("#add_ingredient").click(function() {
                    $("#ingredients").append(ingredient_field);
                    Materialize.updateTextFields();
                });
                $("body").on("click","#delete_ingredient", function() {
                    $(this).parents(".new-ingredient").remove();
                });
                
                // add and remove step
                $("#add_step").click(function() {
                    $("#steps").append(step_field);
                    Materialize.updateTextFields();
                });
                $("body").on("click","#delete_step", function() {
                    $(this).parents(".new-step").remove();
                });
            }); 
           
        </script>
</body>
</html>