{% extends 'base.html'%} {% block content %}
    <div class="container">
    <div class="jumbotron"> 
        <div class="row">
            <div class="col-md-6 col-offset-6" id="login-jumbo">
                    <form method= "POST" action="{{ url_for('login') }}">
                        <div class="form-group">
                            <label for="password">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="pass">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Log In</button>
                    </form>
                        <br>
                        <div>
                            Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
                        </div>
            </div>
        </div>
    </div>
    </div> 

    <div class="container">
    <div class="jumbotron">
            <div class="row">
                <div class="col 3">
                    <div class="card" style="width: 20rem;">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://c7b71416-9f80-45a9-98fc-114413dc194c.ws-eu01.gitpod.io/files/download/?id=8cc4400a-6e7d-4498-99d3-a69c45788b6f">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col 3">    
                    <div class="card" style="width: 20rem;">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://c7b71416-9f80-45a9-98fc-114413dc194c.ws-eu01.gitpod.io/files/download/?id=8cc4400a-6e7d-4498-99d3-a69c45788b6f">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col 3">    
                    <div class="card" style="width: 20rem;">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://c7b71416-9f80-45a9-98fc-114413dc194c.ws-eu01.gitpod.io/files/download/?id=8cc4400a-6e7d-4498-99d3-a69c45788b6f">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>            
     </div>
    <div class="container">
    <div class="jumbotron">
            <div class="row">
                <div class="col 3">
                    <div class="card" style="width: 20rem;">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://c7b71416-9f80-45a9-98fc-114413dc194c.ws-eu01.gitpod.io/files/download/?id=8cc4400a-6e7d-4498-99d3-a69c45788b6f">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col 3">    
                    <div class="card" style="width: 20rem;">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://c7b71416-9f80-45a9-98fc-114413dc194c.ws-eu01.gitpod.io/files/download/?id=8cc4400a-6e7d-4498-99d3-a69c45788b6f">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col 3">    
                    <div class="card" style="width: 20rem;">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://c7b71416-9f80-45a9-98fc-114413dc194c.ws-eu01.gitpod.io/files/download/?id=8cc4400a-6e7d-4498-99d3-a69c45788b6f">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>            
     </div>
{% endblock %}