{% extends 'base.html'%} {% block content %}
    
    <div class="container">  
        <div class="row">
            <div class="col s6">
            {% for recipe in recipes %}
                <h1><u>{{recipe.recipe_name}}</u></h1>
                <br>
                <p>{{recipe.recipe_description}}</p>
                <table>
                    <thead>
                    <tr>
                        <th>Serves</th>
                        <th>Prep Time</th>
                        <th>Cook Time</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>{{recipe.serves}}</td>
                        <td>{{recipe.prep_time}}</td>
                        <td>{{recipe.cook_time}}</td>
                    </tr>
                    </tbody>               
                    <thead>
                    <tr>
                        <th>Calories</td>
                        <th>Cuisine</td>
                        <th>Food Type</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{recipe.calories}}</td>
                        <td>{{recipe.cuisine}}</td>
                        <td>{{recipe.food_type}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
            <div class="col s6">
                <img class="materialboxed" width="650" src="/static/images/chicken.jpg">
            </div>
        </div>
        <div class="row">
           
            
                    
        </div>
    </div>
    {% for recipe in recipes %}
            
            
            
            
            
            
            
            
            {{recipe.upload_img}}
            {{recipe.directions}}
            {{recipe.ingredients}}
            {{recipe.allergens}}
    {% endfor %}

{% endblock %}