{% extends 'base.html'%} {% block content %}
    
    <div class="container">  
        <div class="row">
            <div class="col s6">
            {% for recipe in recipes %}
                <h1>{{recipe.recipe_name}}</h1>
                <br>
                <p>{{recipe.recipe_description}}</p>
                <table id="table_border">
                    <thead>
                    <tr>
                        <th><i class="small material-icons">group</i>Serves</th>
                        <th><i class="small material-icons">access_time</i>Prep Time</th>
                        <th><i class="small material-icons">access_time</i>Cook Time</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>{{recipe.serves}}</td>
                        <td>{{recipe.prep_time}}</td>
                        <td>{{recipe.cook_time}}</td>
                    </tr>
                    </tbody>               
                    <thead>
                    <tr>
                        <th><i class="small material-icons">fireplace</i>Calories</td>
                        <th><i class="small material-icons">flag</i>Cuisine</td>
                        <th><i class="small material-icons">restaurant</i>Food Type</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{recipe.calories}}</td>
                        <td>{{recipe.cuisine}}</td>
                        <td>{{recipe.food_type}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
            <div class="col s6">
                <img class="materialboxed" width="650" src="/static/images/chicken.jpg">
            </div>
        </div>
        <div class="row">
           
            
                    
        </div>
    </div>
    

{% endblock %}