{% extends 'base.html'%} {% block content %}

    
        <section id="cover">
            <div id="cover-caption">
                <div id="container">
                    <div class="col-sm-10 col-sm offset-5">
                        <div class="info-form">
                        <form action="" class="form-inline">
                            <div class="form-group" style="width: 350px; margin: 20px;">
                                <label class="sr-only active">Name</label>
                                <input type="text" class="form-control" placeholder="Search your favourite recipe">
                            </div>
                            <button type="submit" class="btn btn-success ">Go</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
<div class="container"> 
    <div class="row col md-4">
        
            {% for recipe in recipes %}
        
            
                
                    <div class="card text-center" style="width: 25rem; margin: 15px;">
                            <img src={{recipe.upload_image}} class="card-img-top" style="height: 40%;" alt="Responsive img">
                        <div class="card-body">
                            <h5 class="card-title">{{recipe.recipe_title}}</h5>
                            <p class="card-text">{{recipe.recipe_description}}</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                    
                                        <th scope="row"><i class="small material-icons prefix">access_time</i></th>
                                        <td>{{recipe.prep_time}}</td>
                                        <th scope="row"><i class="small material-icons prefix">access_time</i></th>
                                        <td>{{recipe.cook_time}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><i class="small material-icons prefix">flag</i></th>
                                        <td>{{recipe.cuisine}}</td>
                                        <th scope="row"><i class="small material-icons prefix">fastfood</i></th>
                                        <td>{{recipe.food_type}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><i class="small material-icons prefix">group</i></th>
                                        <td>{{recipe.serves}}</td>
                                        <th scope="row"><i class="small material-icons prefix">whatshot</i></th>
                                        <td>{{recipe.calories}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="{{url_for('the_recipe', recipe_id = recipe._id, recipe_title = recipe.recipe_title)}}" class="btn btn-recipe-card">View this recipe <i class="material-icons right">chevron_right</i></a>
                        </div>
                    </div>
                
            
        
            {% endfor %}
       
    </div>
 </div>
{% endblock %}