{% extends "base.html" %}
{% block content %} 
<div class="container">
    <div class="jumbotron" id="jumbo-top-margin">
        <div class="row">
            <div class="col-md-6 col-md-offset-6" id="login-jumbo">
                <form method= "POST" action="{{ url_for('register') }}">
                        <div class="form-group">
                            <label for="exampleInputEmail1"></label>
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"></label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                    <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}