{% extends 'base.html'%} {% block content %}
    <div class="container">  
        <div class="row">
            <div class="col s6">
           
                <h1>{{recipe.recipe_title}}</h1>
                <br>
                <h3>{{recipe.recipe_description}}</h3>
                <table class="table">
                                <tbody>
                                    <tr>
                                        
                                        <th scope="row"><i class="small material-icons prefix">access_time</i>  Prep Time > {{recipe.prep_time}}</th>
                                        
                                        <th scope="row"><i class="small material-icons prefix">access_time</i>  Cook Time > {{recipe.cook_time}}</th>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="row"><i class="small material-icons prefix">flag</i>  Cuisine > {{recipe.cuisine}}</th>
                                        
                                        <th scope="row"><i class="small material-icons prefix">fastfood</i>  Food Type > {{recipe.food_type}}</th>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="row"><i class="small material-icons prefix">group</i>  Serves > {{recipe.serves}}</th>
                                        
                                        <th scope="row"><i class="small material-icons prefix">whatshot</i>  Calories > {{recipe.calories}}</th>
                                        
                                    </tr>
                                </tbody>
                            </table>
            </div>

       
            <div class="col s6">
                <img class="materialboxed" width="650" src="{{recipe.upload_image}}">
            </div>
        </div>

         <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Steps</div>
            {% for items in recipe.steps %} 
                <div class="collapsible-body"><span>{{items}}</span></div>
            {% endfor %}
            </li>
            
            <li>        
                <div class="collapsible-header"><i class="material-icons">place</i>Ingredients</div>
            {% for items in recipe.ingredients %}  
                <div class="collapsible-body"><span>{{items}}</span></div>
            {% endfor %}
            </li>
           
            <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Allergens</div>
            {% for items in recipe.allergens %} 
                <div class="collapsible-body"><span>{{items}}</span></div>
            {% endfor %}
            </li>
        </ul>
        


        <div class="row">
                <div class="col">
                    <a href="{{url_for('edit_recipe', recipe_id = recipe._id)}}" class="btn nav-btn btn-primary"> Edit Recipe</a>
                </div>
        
            <div class="col s3 center">
                    <a href="{{url_for('delete_recipe', recipe_id = recipe._id)}}">
                        <i class="material-icons icons red-text tooltipped " data-position="bottom" data-tooltip="Delete recipe">delete</i> </a>
                    <div class="grey-text text-darken-1">Delete</div>
            </div>
        </div>
    </div>

{% endblock %}