{% extends 'base.html'%} {% block content %}
<div class="container">
    <div>
        <div class="row">
            <div class="col s6">
           
                <h1>{{recipe.recipe_title}}</h1>
                <br>
                <h4>{{recipe.recipe_description}}</h4>


                <div class="recipe-details-container">
                        <div class="recipe-details-item yields">    
                                    		Serves:
                                <br><span class="yields-amount">
                                            {{recipe.serves}}           
                                           
                                </span></br>
                        </div>

                        <div class="recipe-details-item prep-time">
                                    Prep Time:
                                <br><span class="prep-time-amount">
                                            {{recipe.prep_time}}
                                       
                                </br></span>
                            
                        </div>

                        <div class="recipe-details-item total-time">
                                            Cook Time:
                                <br><span class="total-time-amount">           
                                        {{recipe.cook_time}}
                                    
                                </br></span>
                        </div>
                </div>
                <div class="recipe-details-container">
                        <div class="recipe-details-item yields">    
                                    		Cuisine:
                                <br><span class="yields-amount">
                                             {{recipe.cuisine}}          
                                          
                                </br></span>
                        </div>

                        <div class="recipe-details-item prep-time">
                                    Food type:
                                <br><span class="prep-time-amount">
                                            {{recipe.food_type}}
                                        
                                </br></span>
                           
                        </div>
                        

                        <div class="recipe-details-item total-time">
                                            Calories:
                                <br><span class="total-time-amount">           
                                        {{recipe.calories}}
                                   
                                </br></span>
                        </div>
                </div>

        </div>
            <div class="col s6">
                <img id="recipe_img" src="{{recipe.upload_image}}">
            </div>
        </div>
    </div>                    
                                
                                        
                                      <!----  <th scope="row"><i class="small material-icons prefix">access_time</i>  Prep Time > {{recipe.prep_time}}</th>
                                        
                                        <th scope="row"><i class="small material-icons prefix">access_time</i>  Cook Time > {{recipe.cook_time}}</th>
                                        
                                    
                                        <th scope="row"><i class="small material-icons prefix">flag</i>  Cuisine > {{recipe.cuisine}}</th>
                                        
                                        <th scope="row"><i class="small material-icons prefix">fastfood</i>  Food Type > {{recipe.food_type}}</th>
                                        
                                    
                                        <th scope="row"><i class="small material-icons prefix">group</i>  Serves > {{recipe.serves}}</th>
                                        
                                        <th scope="row"><i class="small material-icons prefix">whatshot</i>  Calories > {{recipe.calories}}</th> ----->      
                                    
             

            
            



         <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Steps</div>
            {% for items in recipe.steps %} 
                <div class="collapsible-body"><span>{{items}}</span></div>
            {% endfor %}
            </li>
            
            <li>        
                <div class="collapsible-header"><i class="material-icons">place</i>Ingredients</div>
            {% for items in recipe.ingredients %}  
                <div class="collapsible-body"><span>{{items}}</span></div>
            {% endfor %}
            </li>
           
            <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Allergens</div>
            {% for items in recipe.allergens %} 
                <div class="collapsible-body"><span>{{items}}</span></div>
            {% endfor %}
            </li>
        </ul>
        


        <div class="row">
                <div class="col">
                    <a href="{{url_for('edit_recipe', recipe_id = recipe._id)}}" class="btn nav-btn btn-primary"> Edit Recipe</a>
                </div>
        
            <div class="col s3 center">
                    <a href="{{url_for('delete_recipe', recipe_id = recipe._id)}}">
                        <i class="material-icons icons red-text tooltipped " data-position="bottom" data-tooltip="Delete recipe">delete</i> </a>
                    <div class="grey-text text-darken-1">Delete</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}